.login {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  .wrapper {
    display: flex;
    flex-direction: column;
    gap: 10px;
    .title {
      text-align: center;
      font-size: 22px;
      color: rgb(59, 53, 53);
    }
    .username {
      padding: 8px;
      cursor: pointer;
      outline: none;
      border: none;
      border-bottom: 1px solid gray;
      border-left: 1px solid gray;
      border-radius: 0 10px 10px 0;
    }
    button {
      background-color: rgb(60, 60, 237);
      color: white;
      &:hover {
        background-color: rgb(241, 227, 227);
        color: rgb(49, 37, 37);
      }
    }
  }
}
