.container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 7%;
  height: 100%;
}
.wrapper {
  display: flex;
  flex-direction: column;
  height: 350px;
  border-radius: 13px;
  width: 500px;
  margin: 10px;
  padding: 10px;
  align-items: center;
  justify-content: center;
  background-image: linear-gradient(to top, #fbc2eb 0%, #a6c1ee 100%);
  gap: 15px;
}
.hedding {
  color: rgb(0, 8, 255);
  box-shadow: 33rem;
  text-align: center;
}
.formInput {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  width: 80%;
  outline: none;
  border: none;
}
.inputs {
  border: 0.6px solid;
  padding: 12px;
  margin-bottom: 3px;
  width: 95%;
  border-radius: 12px;
  outline: none;
  border: none;
}
.inputs:hover {
  color: rgb(0, 0, 0);
}
.button {
  width: 35%;
  border-radius: 12px;
  height: 42px;
  border: none;
  font-weight: bold;
  background-color: gray;
  color: rgb(255, 255, 255);
}
.button:hover {
  background-color: rgb(155, 157, 202);
  color: rgb(255, 255, 255);
}
