.table {
  margin-top: 10px;
  background-color: #333;
  color: white;
  border-radius: 25px;
  padding: 20px;
  display: flex;
  border: 1px solid gray;
  flex-direction: column;
  width: 70vw;
  .top {
    margin-bottom: 20px;
  }
  tr {
    display: flex;
    margin-bottom: 1px solid gray;

    th {
      width: 25vw;
      text-align: left;
    }

    td {
      width: 15vw;
      text-align: left;
    }
  }
  .bottom {
    td {
      margin-right: 10px;
      .image {
        width: 65px;
        height: 65px;
      }
    }
  }
}
